body {
    box-sizing: border-box;
    background-color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-bottom: 2px solid black;
}

#nav-links-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
}